.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.card-container {
    margin: 1em;
    background-color: transparent;
    cursor: pointer;
    max-width: 300px; /* Controla el tamaño máximo de la tarjeta */
    box-shadow: 0 3px 10px rgba(255, 247, 247, 0.2);
}

mat-card {
    background-color: transparent;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 1em;
    overflow: hidden;
}

mat-card p {
    color: #C4C4C4;
    font-size: 0.87em;
}

mat-card.expanded {
    max-height: none;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.skill {
    color: #33D2FF;
    padding: 0.3em 0.5em;
    margin: 0.2em;
    border-radius: 3px;
    font-size: 0.8em;
}

mat-card-actions a {
    color: #DD5789;
}

@media screen and (min-width: 425px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2em;
    }

    .card-container {
        flex: 1 1 300px;
        margin: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
        max-width: 400px; /* Ancho mayor para pantallas grandes */
        flex: 1 1 500px; /* Asegura que todas las tarjetas tengan el mismo ancho */
        margin: 1em;
    }

    .card-container mat-card {
        max-height: none; /* Asegura que las tarjetas muestren todo el contenido */
        transition: none; /* Evita la transición en pantallas grandes */
    }

    .card-container mat-card.expanded {
        max-height: none;
    }
}
