<div class="card-wrapper">
    <div *ngFor="let project of projects" class="card-container">
      <mat-card (click)="toggleExpand(project)" [class.expanded]="project.expanded">
        <img mat-card-image [src]="project.img" alt="{{ project.title }}">
        <mat-card-header>
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.expanded ? project.description : (project.description | slice:0:100) + '...' }}</p>
          <div class="skills" *ngIf="project.expanded">
            <span *ngFor="let skill of project.skills" class="skill">{{ skill }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions *ngIf="project.expanded">
          <a mat-button [href]="project.github" target="_blank">GitHub</a>
          <a mat-button [href]="project.deploy" target="_blank">Deploy</a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
