<footer id="contact" class="footer">
   
    <div class="footer-content">
      <div class="contact">
        <p>CONTACTO</p>
        <div class="contact-buttons">
          <a href="mailto:sofiibritos01@gmail.com" class="button">
            <img src="../../assets/img/Vectoremail.png" alt="Email Icon"> Enviar email
          </a>
          <a href="https://www.linkedin.com/in/sofia-britos-3201831b1/" target="_blank" class="button">
            <img src="../../assets/img/Vectorlinkedin.png" alt="LinkedIn Icon"> LinkedIn
          </a>

          <a href="https://github.com/Sofii01" target="_blank" class="button">
            <img src="../../assets/img/github (1).png" alt="GitHub Icon"> GitHub
          </a>
        </div>
      </div>
    </div>
  </footer>
  
