.footer {
    background-color: #000; /* Background color for the footer */
    color: #C4C4C4; /* Text color */
    padding: 2em 0;
    text-align: center;
}
  

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.contact {
    text-align: center;
}
  
.contact p {
    margin-bottom: 1em;
    font-size: 1em;
}
  
.contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
  
.button {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border: 2px solid #33D2FF;
    border-radius: 5px;
    color: #C4C4C4; /* Text color */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
  
.button img {
    margin-right: 0.2em; /* Space between icon and text */
    width: .67em; /* Adjust icon size */
    height: .67em; /* Adjust icon size */
}
  
.button:hover {
    background-color: #fff; /* Hover background color */
    color: #000; /* Hover text color */
}
  
@media screen and (min-width: 425px) {
    .contact {
        display: flex;
        flex-direction: row;
        gap: 4em;
    }
}
@media screen and (min-width: 768px) {
    .contact{
        gap: 10em;
    }
}
@media screen and (min-width: 1024px)  {
    .contact{
        gap: 20em;
    }
}