<div class="intro">
    <span class="span-hola">Hola! Soy</span>
    <h1 class="title-gradient">SOFIA BRITOS</h1>
    <p class="text-about">I'm a software engineer based in Toronto, Canada and also a communication and journalism student. I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. I have been freelancing for a year now while studying at the university and I've managed to gain a decent amount of experience and valuable knowledge from all different kinds of fields throughout my projects/work.</p>
    <span class="say-hi"><a href="#">Say Hi! <img src="../../assets/img/flecha-correcta.png" alt="Arrow"></a></span>
</div>