<div class="intro">
    <span class="span-hola">Hola! Soy</span>
    <h1 class="title-gradient">SOFIA BRITOS</h1>
    <p class="text-about">Soy desarrolladora Full-Stack MEAN (Mysql, Express, Angular, Nodejs) orientada hacia el back, también cuento con conocimientos y practica con Java y Spring Boot.<br>
        Me considero una colaboradora entusiasta y comunicativa en el trabajo en equipo.
        Como persona proactiva, siempre busco trabajar en proyectos desafiantes donde pueda aplicar mis conocimientos y habilidades programación. Además de adquirirlos y expandirlos, busco una experiencia en un ambiente colaborativo y positivo.<br>
        
        Estoy buscando mi primera experiencia en el mundo IT, como desarrolladora con los conocimientos que he adquirido y poder seguir aprendiendo, para poder desarrollarme como profesional.
    </p>
</div>