<div class="intro">
    <span class="span-hola">Hola! Soy</span>
    <h1 class="title-gradient">SOFIA BRITOS</h1>
    <p class="text-about">Soy desarrolladora backend Java y Spring Boot.<br>
        Soy una desarrolladora entusiasta, proactiva y comunicativa, siempre enfocada en el trabajo en equipo. Busco continuamente proyectos desafiantes donde pueda aplicar mis conocimientos en programación y seguir aprendiendo para expandir mis habilidades.

        Estoy en búsqueda de mi primera experiencia en el mundo IT, con el objetivo de contribuir a proyectos que me permitan crecer profesionalmente en un entorno colaborativo y positivo. Estoy motivada para aprender de nuevas experiencias y asumir retos que me ayuden a desarrollarme como profesional.
    </p>
</div>