body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.background{
    background-color: #111111;
    width: 100%;
    /*height: 100vh;*/
    color: #F0F0F0;

}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}